<div class="topbar">
  <a routerLink="/quote" class="back">← Back to Home</a>
</div>

<section class="wrap">
  <div class="card">
    <h1>Welcome back</h1>
    <p class="sub">
      Log in to access your energy dashboard, usage, and billing information.
    </p>

    <label>Email address</label>
    <input type="email" placeholder="name@email.com" />

    <label>Password</label>
    <input type="password" placeholder="Enter your password" />

    <button>Log in</button>

    <p class="bottom">
      Don’t have an account?
      <a routerLink="/register">Create one</a>
    </p>
  </div>
</section>
